# Techdata - Ansible Enterprise : Configuration File Generated : {{ ansible_date_time.date }}

# The number of milliseconds of each tick

tickTime={{ zookeeper_tick_time }}

# The number of ticks that the initial synchronization phase can take
initLimit={{ zookeeper_init_limit }}

# The number of ticks that can pass between sending a request and getting an acknowledgement
syncLimit={{ zookeeper_sync_limit }}

# The directory where the snapshot is stored.
dataDir={{ zookeeper_data_dir }}

# The port at which the clients will connect
clientPort={{ zookeeper_client_port }}

# The maximum number of client connections, increase this if you need to handle more clients
maxClientCnxns={{ zookeeper_max_client_cnxns }}

{% if zookeeper_4lw_whitelist is defined and zookeeper_4lw_whitelist|length > 0 %}
# A list of comma separated Four Letter Words commands
# that user wants to use. By default the whitelist only
# contains "srvr" command which zkServer.sh uses. The
# rest of four letter word commands are disabled by default.
4lw.commands.whitelist={% for flw in zookeeper_4lw_whitelist|sort %}{{ flw }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endif %}

# Zookeeper Cluster Nodes:
{% for host in groups[zookeeper_ansible_host_group]|sort %}
server.{{ hostvars[host].zookeeper_id }}={{ hostvars[host][zookeeper_server_variable] }}:{{ zookeeper_leader_port|default('2888') }}:{{ zookeeper_election_port|default('3888') }}
{% endfor %}

### End Configuration - Zookeeper Techdata Ansible - Enterprise 
